Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
contrib/spamass-milter.spec
install-sh
missing
spamass-milter
spamass-milter.1
spamass-milter.o
stamp-h1
